body {
    margin: 0;
    background-color: #2b2b2b;
    font-size: 30px;
    font-family: "Comic Sans MS";
}

header {
    background-color: #2e4460;
    height: 100px;
    text-align: center;
}

h1 {
    margin: 0;
}

header {
    padding-top: 20px;
    position: fixed;
    width: 100%;
}

.sisu {
    //margin-top: 50px;
}

img {
    width: 70%;
}

.main {
    float: left;
    text-align: center;
    width: 70%;
    margin-top: 150px;
    background-color: #3e3e3e;
}

.nav {
    margin: 150px 20px 20px;
    //margin: 20px;
    //padding: 20px;
    //max-width: 20%;
    background-color: #2e4460;
    float: left;
}

.nav a {
    text-decoration: none;
    //margin: 20px;
    color: #979797;
}

.nav li {
    margin: 20px;
}

.content {
    background-color: #3e3e3e;
    border-bottom: solid 1px #5e5e5e;
    margin: 20px;
}
